* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  color: #ededed;
}
.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  position: relative;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}
.navbar a {
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  margin-left: 35px;
  color: #fff;
  transition: 0.3s;
}
.navbar a:hover {
  color: #0ef;
}
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  justify-content: space-between;
  background: url(./Abstract_Background.png) no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  padding: 70px 10% 0;
  display: flex;
}
.home-content {
  max-width: 600px;
}
.home-content h3 {
  font-size: 34px;
  font-weight: 700;
}
/* .home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
}
.home-content h3 span {
  color: #0ef;
} */
.home-content h1 {
  font-size: 52px;
  font-weight: 700;
  margin: -3 px 0;
}
.home-content p {
  font-size: 18px;
  font-weight: 400;
}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  color: #0ef;
  margin: 30px 15px 30px 0;
}
.home-sci a:hover {
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}
.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 18px;
  color: #081b29;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
}
.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}
